.wrapper.wrapper-content
  .row.animated.fadeIn
    .col-md-12
      .ibox.float-e-margins
        .ibox-title
          h3
            | Reject booking reasons
        .ibox-content
          .row
            .pull-left
              .pagination pagination="true" page="filters.page" per_page="filters.per_page" total="total"

            .pull-right
              span
                | {{ total }} reject booking reasons found

              .btn-group< uib-dropdown=true
                button.btn.btn-xs#split-button.btn type="button"
                  | {{ filters.per_page }}
                button.btn.btn-xs type="button" uib-dropdown-toggle=true
                  span.caret

                ul.dropdown-menu uib-dropdown-menu=true role="menu"
                  li role="menuitem"
                    a ng-click="filters.per_page = 10"
                      | 10
                  li role="menuitem"
                    a ng-click="filters.per_page = 20"
                      | 20
                  li role="menuitem"
                    a ng-click="filters.per_page = 50"
                      | 50
              span<
                | per page
              .btn.button.btn-danger.btn-outline data-toggle="collapse" data-target=".filters-container"
                .fa.fa-filter
                | Filters
              .btn.button.btn-danger.btn-outline ui-sref="new_reject_booking_reason"
                | Add new

          .filters-container.collapse
            .row
              .col-sm-12
                .row
                  .col-sm-3
                    | Title:
                    input.form-control type="text" ng-model="filters.title"
                  .col-sm-9.text-right
                    .button.btn.btn-danger.btn-outline ng-models="filters" ng-click="resetFilters()" style="margin-top: 20px; float: right;" Reset

          .table-responsive
            table.table.table-striped.peach-table
              thead
                tr
                  th ng-model="filters" tablesort=true tablesort-name="id"         tablesort-title="ID"
                  th ng-model="filters" tablesort=true tablesort-name="title"      tablesort-title="Title"
                  th ng-model="filters" tablesort=true tablesort-name="created_at" tablesort-title="Created Date"
                  th
              tbody
                tr ng-show="total == 0"
                  td.text-center colspan="4"
                    | No results found
                tr ng-repeat="reason in reject_booking_reasons"
                  td
                    | {{ reason.id }}
                  td
                    | {{ reason.title }}
                  td
                    | {{ reason.created_at }}
                  td.text-right
                    a.btn-xs.btn.btn-warning.btn-outline href="#reject_booking_reason/{{reason.id}}/edit"
                      | {{ I18n.t('actions.edit') }}
                    a.btn-xs.btn.btn-danger.btn-outline ng-click="destroy(reason.id)"
                      | {{ I18n.t('actions.delete') }}