.passwordBox.animated.fadeInDown
  .row
    .col-md-12
      .ibox-content
        h2.font-bold.text-center Forgot password
        p.text-center
          | Enter your email address and your password will be reset and emailed to you.
        .row
          .col-lg-12
            form.m-t role="form" novalidate=true ng-submit="submitForgotPassword()"
              .form-group
                input.form-control placeholder=("Email address") required="" type="email" ng-model="email"
              button.btn.btn-primary.block.full-width.m-b type="submit" style="margin-left: 0" Send new password
  hr
  .row
    .col-md-6
      | Copyright Peach
    .col-md-6.text-right
      small © 2017 - 2018
