.passwordBox.animated.fadeInDown
  .row
    .col-md-12
      .ibox-content
        h2.font-bold.text-center Forgot password
        .row
          .col-lg-12
            form.m-t role="form" novalidate=true ng-submit="submitResetPassword()"
              .form-group
                label
                  | New password
                input.form-control placeholder="Password" type="password" ng-model="password" name='password'
                br
                .form-group
                  label
                    | Confirm password
                  input.form-control placeholder="Password Confirmation" type="password" ng-model="password_confirmation" name='password_confirmation'
              button.btn.btn-primary.block.full-width.m-b style="margin-left: 0" type="submit" Change password
  hr
  .row
    .col-md-6
      | Copyright Peach
    .col-md-6.text-right
      small © 2017 - 2018