.wrapper.wrapper-content
  .row.animated.fadeIn
    .col-md-12
      .ibox.float-e-margins
        .ibox-title
          h3
            | Session Ratings
        .ibox-content
          .row
            .pull-right.col-sm-9.text-right
              .btn.button.btn-danger.btn-outline ui-sref="new_feeling"
                | Add new

          table.table.table-striped.table-responsive.peach-table
            thead
              tr
                th ng-model="filters" tablesort=true tablesort-name="id"         tablesort-title="ID"
                th ng-model="filters" tablesort=true tablesort-name="title"      tablesort-title="Title"
                th ng-model="filters" tablesort=true tablesort-name="created_at" tablesort-title="Created Date"
                th
            tbody
              tr ng-show="total == 0"
                td.text-center colspan="4"
                  | No results found
              tr ng-repeat="feeling in feelings"
                td
                  | {{ feeling.id }}
                td
                  | {{ feeling.title }}
                td
                  | {{ feeling.created_at }}
                td.text-right
                  a.btn-xs.btn.btn-warning.btn-outline href="#session_ratings/{{feeling.id}}/edit"
                    | {{ I18n.t('actions.edit') }}
                  a.btn-xs.btn.btn-danger.btn-outline ng-click="destroy(feeling.id)"
                    | {{ I18n.t('actions.delete') }}