.wrapper.wrapper-content
  .row.animated.fadeIn
    .col-md-12
      .ibox.float-e-margins
        .ibox-title
          h3 ng-show="announcement.id"
            | Edit announcement
          h3 ng-hide="announcement.id"
            | New announcement
        .ibox-content
          form ng-submit="submit()" name="announcementForm" novalidate=true

            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Image:
                    span.star<
                      | *
                .col-sm-10 ng-class="validation_errors.image ? 'has-error' : ''"
                  div image=true ng-model="announcement.image"
                  .error ng-repeat="error in validation_errors['image']"
                    | {{ error }}
            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Title:
                    span.star<
                      | *
                .col-sm-10 ng-class="validation_errors.title ? 'has-error' : ''"
                  .text-danger ng-repeat="error in validation_errors.title"
                    | {{ error }}
                  input.form-control type="text" name="title" ng-model="announcement.title"
            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Subtitle:
                    span.star<
                      | *
                .col-sm-10 ng-class="validation_errors.subtitle ? 'has-error' : ''"
                  .text-danger ng-repeat="error in validation_errors.subtitle"
                    | {{ error }}
                  input.form-control type="text" name="subtitle" ng-model="announcement.subtitle"
            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Body:
                    span.star<
                      | *
                .col-sm-10 ng-class="validation_errors.body ? 'has-error' : ''"
                  .text-danger ng-repeat="error in validation_errors.body"
                    | {{ error }}
                  div redactor=true name="content" ng-model="announcement.body" style="width: 100%" file-upload-path="/attachments/announcements_body"
                  .error ng-repeat="error in validation_errors['body']"
                    | {{ error }}
            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Notify trainers:
                    span.star<
                      | *
                .col-sm-10 ng-class="validation_errors.notify_trainers ? 'has-error' : ''"
                  .text-danger ng-repeat="error in validation_errors.confirmed"
                    | {{ error }}
                  .abc-checkbox.abc-checkbox-primary
                    input.styled id="checkbox" type="checkbox" name="notify_trainers" ng-model="announcement.notify_trainers"
                    label for="checkbox"
            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Notify clients:
                    span.star<
                      | *
                .col-sm-10 ng-class="validation_errors.notify_clients ? 'has-error' : ''"
                  .text-danger ng-repeat="error in validation_errors.notify_clients"
                    | {{ error }}
                  .abc-checkbox.abc-checkbox-primary
                    input.styled id="checkbox2" type="checkbox" name="notify_clients" ng-model="announcement.notify_clients"
                    label for="checkbox2"

            .form-group
              .row
                .col-sm-4.col-sm-offset-2
                  button.ladda-button.btn.btn-info data-style="expand-left" ladda="formPending"
                    | {{ I18n.t('actions.submit') }}