.wrapper.wrapper-content
  .row.animated.fadeIn
    .col-md-12
      .ibox.float-e-margins
        .ibox-title
          h3
            | Announcements
        .ibox-content
          .row
            .pull-left
              .pagination pagination="true" page="filters.page" per_page="filters.per_page" total="total"

            .pull-right
              span
                | {{ total }} announcements found

              .btn-group< uib-dropdown=true
                button.btn.btn-xs#split-button.btn type="button"
                  | {{ filters.per_page }}
                button.btn.btn-xs type="button" uib-dropdown-toggle=true
                  span.caret

                ul.dropdown-menu uib-dropdown-menu=true role="menu"
                  li role="menuitem"
                    a ng-click="filters.per_page = 10"
                      | 10
                  li role="menuitem"
                    a ng-click="filters.per_page = 20"
                      | 20
                  li role="menuitem"
                    a ng-click="filters.per_page = 50"
                      | 50
              span<
                | per page
              .btn.button.btn-danger.btn-outline data-toggle="collapse" data-target=".filters-container"
                .fa.fa-filter
                | Filters
              .btn.button.btn-danger.btn-outline ui-sref="new_announcement"
                | Add new

          .filters-container.collapse
            .row
              .col-sm-12
                .row
                  .col-sm-3
                    | Title:
                    input.form-control type="text" ng-model="filters.title"
                  .col-sm-3
                    | Subtitle:
                    input.form-control type="text" ng-model="filters.subtitle"
                  .col-sm-3
                    | For trainers only:
                    .abc-checkbox.abc-checkbox-primary
                      input.styled id="checkbox" type="checkbox" name="notify_trainers" ng-model="filters.notify_trainers"
                      label for="checkbox"
                  .col-sm-3
                    | For clients only:
                    .abc-checkbox.abc-checkbox-primary
                      input.styled id="checkbox2" type="checkbox" name="notify_clients" ng-model="filters.notify_clients"
                      label for="checkbox2"

                  .col-sm-6.text-right
                    .button.btn.btn-danger.btn-outline ng-models="filters" ng-click="resetFilters()" style="margin-top: 20px; float: right;" Reset

          .table-responsive
            table.table.table-striped.peach-table
              thead
                tr
                  th ng-model="filters" tablesort=true tablesort-name="id"              tablesort-title="ID"
                  th ng-model="filters" tablesort=true tablesort-name="title"           tablesort-title="Title"
                  th ng-model="filters" tablesort=true tablesort-name="subtitle"        tablesort-title="Subtitle"
                  th ng-model="filters" tablesort=true tablesort-name="notify_trainers" tablesort-title="Trainers"
                  th ng-model="filters" tablesort=true tablesort-name="notify_clients"  tablesort-title="Clients"
                  th ng-model="filters" tablesort=true tablesort-name="created_at"      tablesort-title="Created Date"
                  th
              tbody
                tr ng-show="total == 0"
                  td.text-center colspan="7"
                    | No results found
                tr ng-repeat="announcement in announcements"
                  td
                    | {{ announcement.id }}
                  td
                    | {{ announcement.title }}
                  td
                    | {{ announcement.subtitle }}
                  td
                    | {{ announcement.notify_trainers }}
                  td
                    | {{ announcement.notify_clients }}
                  td
                    | {{ announcement.created_at }}
                  td.text-right
                    a.btn-xs.btn.btn-warning.btn-outline ng-click="resend(announcement.id)"
                      | Resend
                    a.btn-xs.btn.btn-warning.btn-outline href="#announcements/{{announcement.id}}/edit"
                      | {{ I18n.t('actions.edit') }}
                    a.btn-xs.btn.btn-danger.btn-outline ng-click="destroy(announcement.id)"
                      | {{ I18n.t('actions.delete') }}