<html>
  <head>
    <meta content=("text/html; charset=UTF-8") http-equiv="Content-Type"/>
  </head>
  <body>
    <%= email_image_tag("peach_logo.png", style: "margin: auto; width: 300px") %>
    <p>We're proud to welcome you to the Peach family.</p>
    <p>Please confirm your email address by clicking on this <a href="<%= confirm_email_users_url({t: @user.confirmation_token})  %>">link</a>.</p>
    <% if @user.trainer? %>
    <p>Complete your profile on our app to attract clients and start scheduling sessions.</p>
    <% else %>
    <p>Log in now to find London's most experienced personal trainers. You'll be able to book sessions with them directly via our app.</p>
    <% end %>
    <br/>
    <p>Thanks for joining!</p>
    <p>Tim</p>
    <p>Founder and CEO</p>

  </body>
</html>