html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type"
  body
    h1 We have new #{@user.role.name} !
    p
      | #{@user.role.name} #{@user.first_name} #{@user.last_name} registered!
    p
      = link_to root_url do
        | Peach
      | .