html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type"
  body
    h1 Client blocked a trainer!
    p
      |  Client: #{@client.first_name} #{@client.last_name} (#{@client.email}), blocked a trainer #{@trainer.first_name} #{@trainer.last_name} (#{@trainer.email})
    p
      = link_to root_url do
        | Peach
      | .