<html>
  <head>
    <meta content=("text/html; charset=UTF-8") http-equiv="Content-Type"/>
  </head>
  <body>
    <%= email_image_tag("peach_logo.png", style: "margin: auto; width: 300px") %>
    <p>To reset the password, please click on this <a href="<%= password_reset_url id: @user.reset_password_token %>">link</a>.</p>
    <br/>
    <p>If you did not request this, please ignore this email.</p>
    <p>Tim</p>
    <p>Founder and CEO</p>

  </body>
</html>