.wrapper.wrapper-content
  .row.animated.fadeIn
    .col-md-12
      .ibox.float-e-margins
        .ibox-title
          h3 ng-show="training_place.id"
            | Edit training place
          h3 ng-hide="training_place.id"
            | New training place
        .ibox-content
          form ng-submit="submit()" name="placeForm" novalidate=true

            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Title:
                    span.star<
                      | *
                .col-sm-10 ng-class="validation_errors.title ? 'has-error' : ''"
                  .text-danger ng-repeat="error in validation_errors.title"
                    | {{ error }}
                  input.form-control type="text" name="title" ng-model="training_place.title"
            .form-group
              .row
                .col-sm-4.col-sm-offset-2
                  button.ladda-button.btn.btn-info data-style="expand-left" ladda="formPending"
                    | {{ I18n.t('actions.submit') }}