.wrapper.wrapper-content
  .row.animated.fadeIn
    .col-md-12
      .ibox.float-e-margins
        .ibox-title
          h3
            | Location places
        .ibox-content
          .row
            .pull-right.col-sm-9.text-right
              .btn.button.btn-danger.btn-outline ui-sref="new_training_place"
                | Add new

          table.table.table-striped.table-responsive.peach-table
            thead
              tr
                th ng-model="filters" tablesort=true tablesort-name="id"         tablesort-title="ID"
                th ng-model="filters" tablesort=true tablesort-name="title"      tablesort-title="Title"
                th ng-model="filters" tablesort=true tablesort-name="created_at" tablesort-title="Created Date"
                th
            tbody
              tr ng-show="total == 0"
                td.text-center colspan="4"
                  | No results found
              tr ng-repeat="place in training_places"
                td
                  | {{ place.id }}
                td
                  | {{ place.title }}
                td
                  | {{ place.created_at }}
                td.text-right
                  a.btn-xs.btn.btn-warning.btn-outline href="#training_place/{{place.id}}/edit"
                    | {{ I18n.t('actions.edit') }}
                  a.btn-xs.btn.btn-danger.btn-outline ng-click="destroy(place.id)"
                    | {{ I18n.t('actions.delete') }}