.wrapper.wrapper-content
  .row.animated.fadeIn
    .col-md-12
      .ibox.float-e-margins
        .ibox-title
          h3
            | Email settings
        .ibox-content
          form ng-submit="submit()" name="PrivacyPolicyPageForm" novalidate=true

            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Address:
                    span.star<
                      | *
                .col-sm-10 ng-class="validation_errors.address ? 'has-error' : ''"
                  .text-danger> ng-repeat="error in validation_errors.address"
                    | {{ error }}
                  input.form-control type="text" name="address" ng-model="sender.address" style="margin: 0"
            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Port:
                    span.star<
                      | *
                .col-sm-10 ng-class="validation_errors.port ? 'has-error' : ''"
                  .text-danger> ng-repeat="error in validation_errors.port"
                    | {{ error }}
                  input.form-control type="text" name="port" ng-model="sender.port" style="margin: 0"
            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Domain:
                    span.star<
                      | *
                .col-sm-10 ng-class="validation_errors.domain ? 'has-error' : ''"
                  .text-danger> ng-repeat="error in validation_errors.domain"
                    | {{ error }}
                  input.form-control type="text" name="domain" ng-model="sender.domain" style="margin: 0"
            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Authentication:
                    span.star<
                      | *
                .col-sm-10 ng-class="validation_errors.authentication ? 'has-error' : ''"
                  .text-danger> ng-repeat="error in validation_errors.authentication"
                    | {{ error }}
                  input.form-control type="text" name="authentication" ng-model="sender.authentication" style="margin: 0"
            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | User Name:
                    span.star<
                      | *
                .col-sm-10 ng-class="validation_errors.user_name ? 'has-error' : ''"
                  .text-danger> ng-repeat="error in validation_errors.user_name"
                    | {{ error }}
                  input.form-control type="text" name="user_name" ng-model="sender.user_name" style="margin: 0"
            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Password:
                    span.star<
                      | *
                .col-sm-10 ng-class="validation_errors.password ? 'has-error' : ''"
                  .text-danger> ng-repeat="error in validation_errors.password"
                    | {{ error }}
                  input.form-control name="password" type="password" ng-model="sender.password" style="margin: 0"
            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Enable Starttls Auto:
                    span.star<
                      | *
                .col-sm-10
                  .onoffswitch
                    input#tls-on-off-switch.onoffswitch-checkbox ng-model="sender.enable_starttls_auto" type="checkbox"
                    label.onoffswitch-label for="tls-on-off-switch"
                      span.onoffswitch-inner
                      span.onoffswitch-switch

            .form-group
              .row
                .col-sm-4.col-sm-offset-2
                  button.ladda-button.btn.btn-info data-style="expand-left" ladda="formPending" style="margin-left: 0"
                    | {{ I18n.t('actions.submit') }}
