.wrapper.wrapper-content
  .row.animated.fadeIn
    .col-md-12
      .ibox.float-e-margins
        .ibox-title
          h3
            | Specialities
        .ibox-content
          .row
            .pull-left
              .pagination pagination="true" page="filters.page" per_page="filters.per_page" total="total"

            .pull-right
              span
                | {{ total }} specialities found

              .btn-group< uib-dropdown=true
                button.btn.btn-xs#split-button.btn type="button"
                  | {{ filters.per_page }}
                button.btn.btn-xs type="button" uib-dropdown-toggle=true
                  span.caret

                ul.dropdown-menu uib-dropdown-menu=true role="menu"
                  li role="menuitem"
                    a ng-click="filters.per_page = 10"
                      | 10
                  li role="menuitem"
                    a ng-click="filters.per_page = 20"
                      | 20
                  li role="menuitem"
                    a ng-click="filters.per_page = 50"
                      | 50
              span<
                | per page
              .btn.button.btn-danger.btn-outline ui-sref="new_speciality"
                | Add new

          .table-responsive
            table.table.table-striped.peach-table
              thead
                tr
                  th ng-model="filters" tablesort=true tablesort-name="id"         tablesort-title="ID"
                  th ng-model="filters" tablesort=true tablesort-name="title"      tablesort-title="Title"
                  th ng-model="filters" tablesort=true tablesort-name="created_at" tablesort-title="Created Date"
                  th
                    | Goals
                  th
              tbody
                tr ng-show="total == 0"
                  td.text-center colspan="4"
                    | No results found
                tr ng-repeat="speciality in specialities"
                  td
                    | {{ speciality.id }}
                  td
                    | {{ speciality.title }}
                  td
                    | {{ speciality.created_at }}
                  td
                    | {{ speciality.goals }}
                  td.text-right
                    a.btn-xs.btn.btn-warning.btn-outline href="#speciality/{{speciality.id}}/edit"
                      | {{ I18n.t('actions.edit') }}
                    a.btn-xs.btn.btn-danger.btn-outline ng-click="destroy(speciality.id)"
                      | {{ I18n.t('actions.delete') }}