.wrapper.wrapper-content
  .row.animated.fadeIn
    .col-md-12
      .ibox.float-e-margins
        .ibox-title
          h3
            | Deactivated trainers
        .ibox-content
          .row
            .pull-left
              .button.btn.btn-info.csv> ng-click="downloadCSV()" style="margin-bottom: 21px"
                i.fa.fa-download
                | Export CSV
            .pull-left
              .pagination pagination="true" page="filters.page" per_page="filters.per_page" total="total"

            .pull-right
              span
                | {{ total }} deactivated trainers found

              .btn-group< uib-dropdown=true
                button.btn.btn-xs#split-button.btn type="button"
                  | {{ filters.per_page }}
                button.btn.btn-xs type="button" uib-dropdown-toggle=true
                  span.caret

                ul.dropdown-menu uib-dropdown-menu=true role="menu"
                  li role="menuitem"
                    a ng-click="filters.per_page = 10"
                      | 10
                  li role="menuitem"
                    a ng-click="filters.per_page = 20"
                      | 20
                  li role="menuitem"
                    a ng-click="filters.per_page = 50"
                      | 50
              span<
                | per page
              .btn.button.btn-danger.btn-outline data-toggle="collapse" data-target=".filters-container"
                .fa.fa-filter
                | Filters

          .filters-container.collapse
            .row
              .col-sm-12
                .row
                  .col-sm-3
                    | Full Name:
                    input.form-control type="text" ng-model="filters.name"
                  .col-sm-3
                    | Email:
                    input.form-control type="text" ng-model="filters.email"

                  .col-sm-6.text-right
                    .button.btn.btn-danger.btn-outline ng-models="filters" ng-click="resetFilters()" style="margin-top: 20px; float: right;" Reset

          .table-responsive
            table.table.table-striped.peach-table
              thead
                tr
                  th ng-model="filters" tablesort=true tablesort-name="id"         tablesort-title="ID"
                  th ng-model="filters" tablesort=true tablesort-name="first_name" tablesort-title="Full name"
                  th ng-model="filters" tablesort=true tablesort-name="email"      tablesort-title="Email"
                  th
                    | Reason
                  th ng-model="filters" tablesort=true tablesort-name="deleted_at" tablesort-title="Deactivated at"
                  th
              tbody.text-center
                tr ng-show="count == 0"
                  td.text-center colspan="6"
                    | No results found
                tr ng-repeat="trainer in deactivated_trainers"
                  td
                    | {{ trainer.id }}
                  td
                    | {{ trainer.full_name }}
                  td
                    | {{ trainer.email }}
                  td
                    | {{ trainer.deactivate_message }}
                  td
                    | {{ trainer.deleted_at }}
                  td.text-right
                    a.btn-xs.btn.btn-warning.btn-outline ng-click="reactivate(trainer.id)"
                      | Reactivate
                    a.btn-xs.btn.btn-danger.btn-outline ng-click="destroy(trainer.id)"
                      | {{ I18n.t('actions.delete') }}