.ibox-content
  .row
    .pull-left
      .button.btn.btn-info.csv> ng-click="downloadCSV(2, client.id)" style="margin-bottom: 21px"
        i.fa.fa-download
        | Export CSV
    .pull-left
      .pagination pagination="true" page="filters.page" per_page="filters.per_page" total="total"

    .pull-right
      span
        | {{ total }} trainers found

      .btn-group< uib-dropdown=true
        button.btn.btn-xs#split-button2.btn type="button"
          | {{ filters.per_page }}
        button.btn.btn-xs type="button" uib-dropdown-toggle=true
          span.caret

        ul.dropdown-menu uib-dropdown-menu=true role="menu"
          li role="menuitem"
            a ng-click="filters.per_page = 10"
              | 10
          li role="menuitem"
            a ng-click="filters.per_page = 20"
              | 20
          li role="menuitem"
            a ng-click="filters.per_page = 50"
              | 50
      span<
        | per page
      .btn.button.btn-danger.btn-outline data-toggle="collapse" data-target=".filters-container"
        .fa.fa-filter
        | Filters
  .filters-container.collapse
    .row
      .col-sm-12
        .row
          .col-sm-3
            | Full Name:
            input.form-control type="text" ng-model="filters.first_name"
          .col-sm-3
            | Email:
            input.form-control type="text" ng-model="filters.email"
          .col-sm-3.text-right
            .button.btn.btn-danger.btn-outline ng-models="filters" ng-click="resetFilters()" style="margin-top: 20px; float: right;" Reset

  .table-responsive
    table.table.table-striped.peach-table
      thead
        tr
          th ng-model="filters" tablesort=true tablesort-name="id" tablesort-title="ID"
          th ng-model="filters" tablesort=true tablesort-name="first_name" tablesort-title="Full name"
          th ng-model="filters" tablesort=true tablesort-name="gender" tablesort-title="Gender"
          th
            | Email
          th
            | Avatar
          th ng-model="filters" tablesort=true tablesort-name="block_date" tablesort-title="Block date"
          th
            | Block reasons
          th
            | Comment
      tbody.text-center
        tr ng-show="count == 0"
          td.text-center colspan="6"
            | No results found
        tr ng-repeat="user in users"
          td
            a href="#/trainers/{{user.id}}/show"
              | {{ user.id }}
          td
            a href="#/trainers/{{user.id}}/show"
              | {{ user.full_name }}
          td
            .fa ng-class="{'fa-male': user.gender=='male', 'fa-female': user.gender=='female'}"
          td
            | {{ user.email }}
          td
            img ng-src="{{ user.avatar }}" style="height: 30px; width:30px"
          td
            | {{ user.block_date }}
          td
            | {{ user.block_reasons }}
          td
            | {{ user.comment }}