.ibox-content
  .row
    .pull-left
      .button.btn.btn-info.csv> ng-click="downloadCSV(4, client.id)" style="margin-bottom: 21px"
        i.fa.fa-download
        | Export CSV
    .pull-left
      .pagination pagination="true" page="filters.page" per_page="filters.per_page" total="total"

    .pull-right
      span
        | {{ total }} booking sessions found

      .btn-group< uib-dropdown=true
        button.btn.btn-xs#split-button3.btn type="button"
          | {{ filters.per_page }}
        button.btn.btn-xs type="button" uib-dropdown-toggle=true
          span.caret

        ul.dropdown-menu uib-dropdown-menu=true role="menu"
          li role="menuitem"
            a ng-click="filters.per_page = 10"
              | 10
          li role="menuitem"
            a ng-click="filters.per_page = 20"
              | 20
          li role="menuitem"
            a ng-click="filters.per_page = 50"
              | 50
      span<
        | per page
      .btn.button.btn-danger.btn-outline data-toggle="collapse" data-target=".filters-container"
        .fa.fa-filter
        | Filters
  .filters-container.collapse
    .row
      .col-sm-12
        .row
          .col-sm-2
            | Status:
            select.form-control ng-model="filters.status"
              option ng-repeat="(key, value) in options" value="{{value}}"
                | {{key}}
          .col-sm-2
            | Booking ID:
            input.form-control type="number" ng-model="filters.booking_id" min="1"
          .col-sm-2
            | Trainer name:
            input.form-control type="text" ng-model="filters.name"
          .col-sm-2
            | Rate:
            input.form-control type="number" ng-model="filters.rate" min="1" max="5"
          .col-sm-3.text-right
            .button.btn.btn-danger.btn-outline ng-models="filters" ng-click="resetFilters()" style="margin-top: 20px; float: right;" Reset

  .table-responsive
    table.table.table-striped.peach-table
      thead
        tr
          th ng-model="filters" tablesort=true tablesort-name="id" tablesort-title="ID"
          th ng-model="filters" tablesort=true tablesort-name="booking_id" tablesort-title="Booking ID"
          th ng-model="filters" tablesort=true tablesort-name="booking_type" tablesort-title="Booking type"
          th ng-model="filters" tablesort=true tablesort-name="session_price" tablesort-title="Session Price"
          th ng-model="filters" tablesort=true tablesort-name="status" tablesort-title="Status"
          th ng-model="filters" tablesort=true tablesort-name="from_time" tablesort-title="From time"
          th ng-model="filters" tablesort=true tablesort-name="to_time" tablesort-title="Finish time"
          th ng-model="filters" tablesort=true tablesort-name="name" tablesort-title="Trainer"
          th ng-model="filters" tablesort=true tablesort-name="feeling" tablesort-title="Feeling"
          th ng-model="filters" tablesort=true tablesort-name="rate" tablesort-title="Rate"
          th

      tbody.text-center
        tr ng-show="count == 0"
          td.text-center colspan="6"
            | No results found
        tr ng-repeat="booking_session in sessions"
          td
            | {{ booking_session.id }}
          td
            | {{ booking_session.booking_id }}
          td
            | {{ booking_session.booking_type }}
          td
            | {{ booking_session.session_price }}
          td
            | {{ booking_session.status }}
          td
            | {{ booking_session.from_time }}
          td
            | {{ booking_session.to_time }}
          td
            a href="#/trainers/{{booking_session.trainer_id}}/show"
              | {{ booking_session.trainer_name }}
          td
            | {{ booking_session.feeling }}
          td
            | {{ booking_session.rate }}