.wrapper.wrapper-content
  .row.animated.fadeIn
    .col-md-12
      .ibox.float-e-margins
        .ibox-title
          h3
            | Clients
        .ibox-content
          .row
            .pull-left
              .button.btn.btn-info.csv> ng-click="downloadCSV()" style="margin-bottom: 21px"
                i.fa.fa-download
                | Export CSV
            .pull-left
              .pagination pagination="true" page="filters.page" per_page="filters.per_page" total="total"

            .pull-right
              span
                | {{ total }} clients found

              .btn-group< uib-dropdown=true
                button.btn.btn-xs#split-button.btn type="button"
                  | {{ filters.per_page }}
                button.btn.btn-xs type="button" uib-dropdown-toggle=true
                  span.caret

                ul.dropdown-menu uib-dropdown-menu=true role="menu"
                  li role="menuitem"
                    a ng-click="filters.per_page = 10"
                      | 10
                  li role="menuitem"
                    a ng-click="filters.per_page = 20"
                      | 20
                  li role="menuitem"
                    a ng-click="filters.per_page = 50"
                      | 50
              span<
                | per page
              .btn.button.btn-danger.btn-outline data-toggle="collapse" data-target=".filters-container"
                .fa.fa-filter
                | Filters

          .filters-container.collapse
            .row
              .col-sm-12
                .row
                  .col-sm-3
                    | Full Name:
                    input.form-control type="text" ng-model="filters.name"
                  .col-sm-3
                    | Email:
                    input.form-control type="text" ng-model="filters.email"
                  .col-sm-3
                    .abc-checkbox.abc-checkbox-primary.filter-checkbox
                      input.styled id="checkbox_filter" type="checkbox" ng-model="filters.show_all"
                      label for="checkbox_filter"
                        | Show deactivated accounts

                  .col-sm-3.text-right
                    .button.btn.btn-danger.btn-outline ng-models="filters" ng-click="resetFilters()" style="margin-top: 20px; float: right;" Reset

          .table-responsive
            table.table.table-striped.peach-table
              thead
                tr
                  th ng-model="filters" tablesort=true tablesort-name="id"         tablesort-title="ID"
                  th ng-model="filters" tablesort=true tablesort-name="first_name" tablesort-title="Full name"
                  th ng-model="filters" tablesort=true tablesort-name="gender"     tablesort-title="Gender"
                  th ng-model="filters" tablesort=true tablesort-name="email"      tablesort-title="Email"
                  th ng-model="filters" tablesort=true tablesort-name="email_confirmed"      tablesort-title="Email Confirmed"
                  th ng-model="filters" tablesort=true tablesort-name="social" tablesort-title="Social"
                  th
                    | Avatar
                  th ng-model="filters" tablesort=true tablesort-name="credit_card_id" tablesort-title="Has credit card"
                  th ng-model="filters" tablesort=true tablesort-name="created_at" tablesort-title="Registered At"
                  th ng-model="filters" tablesort=true tablesort-name="deleted_at" tablesort-title="Deactivated" ng-show="filters.show_all"
                  th
                    | Actions
              tbody.text-center
                tr ng-show="count == 0"
                  td.text-center colspan="6"
                    | No results found
                tr ng-repeat="user in users"
                  td
                    a href="#/clients/{{user.id}}/show"
                      | {{ user.id }}
                  td
                    a href="#/clients/{{user.id}}/show"
                      | {{ user.full_name }}
                  td
                    .fa ng-class="{'fa-male': user.gender=='male', 'fa-female': user.gender=='female'}"
                  td
                    | {{ user.email }}
                  td
                    .fa ng-class="{'fa-check': user.email_confirmed, 'fa-times': !user.email_confirmed}"
                  td
                    .fa ng-class="{'fa-check': user.social, 'fa-times': !user.social}"
                  td
                    img ng-src="{{ user.avatar }}" style="height: 30px; width:30px"
                  td
                    .fa ng-class="{'fa-check': user.has_credit_card, 'fa-times': !user.has_credit_card}"
                  td
                    | {{ user.created_at }}
                  td ng-show="filters.show_all"
                    span ng-if="user.deactivated"
                      | Deactivated
                  td.text-right
                    a.btn-xs.btn.btn-warning.btn-outline href="#/clients/{{user.id}}/edit"
                      | Edit
                    a.btn-xs.btn.btn-danger.btn-outline ng-click="destroy(user.id)" ng-hide="user.deactivated"
                      | Deactivate
                    a.btn-xs.btn.btn-success.btn-outline ng-click="activate(user.id)" ng-show="user.deactivated"
                      | Activate