.wrapper.wrapper-content
  .row.animated.fadeIn
    .col-md-12
      .ibox.float-e-margins
        .ibox-title
          .row
            .col-sm-4
              h3 ng-show="client.id"
                | Client: {{ client.full_name }}
            .col-sm-2.col-sm-offset-6.pull-right
              a.btn.btn-warning href="#/clients/{{client.id}}/edit"
                | Edit
              a.btn.btn-info href="#/clients"
                | Back
        .ibox-content
          uib-tabset
            uib-tab index="0" heading="INFO"
              br
              .row
                .col-sm-5
                  img.img-thumbnail ng-src="{{ client.avatar.url}}" style="max-height: 180px; max-width: 180px"
                .col-md-7
                  div map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyC_ZObsSSR1_7HIP0I8Sgur1HpBmZlEy08" style="height: 300px"
                    ng-map center="[{{ defaultLat }}, {{ defaultLng }}]"
              br
              .row.drilldown
                .col-md-6
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | First name:
                    .col-md-6
                      | {{ client.first_name }}
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Last name:
                    .col-md-6
                      | {{ client.last_name }}
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Gender:
                    .col-md-6
                      | {{ client.gender }}
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Email:
                    .col-md-6
                      | {{ client.email }}
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Email confirmed:
                    .col-md-6
                      .fa ng-class="{'fa-check': client.email_confirmed, 'fa-times': !client.email_confirmed }"
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Address:
                    .col-md-6
                      | {{ client.address }}
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Postal Code:
                    .col-md-6
                      | {{ client.post_code }}
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Social:
                    .col-md-6
                      .fa ng-class="{'fa-check': client.social, 'fa-times': !client.social }"
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Facebook id:
                    .col-md-6
                      | {{ client.facebook_id }}
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | QB user id:
                    .col-md-6
                      | {{ client.qb_user_id }}
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Bio:
                    .col-md-6
                      | {{ client.bio }}
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Goals:
                    .col-md-6
                      | {{ client.goals }}
                .col-md-6
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Training places:
                    .col-md-6
                      | {{ client.training_places }}
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Has credit card:
                    .col-md-6
                      .fa ng-class="{'fa-check': client.credit_card, 'fa-times': !client.credit_card }"
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Notifications:
                    .col-md-6
                      .fa ng-class="{'fa-check': client.notification_enabled, 'fa-times': !client.notification_enabled }"
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Deactivated at:
                    .col-md-6
                      | {{ client.deactivated_at }}
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Deactivation message:
                    .col-md-6
                      | {{ client.deactivation_message }}
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Registered at:
                    .col-md-6
                      | {{ client.created_at }}
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Latitude:
                    .col-md-6
                      | {{ client.latitude }}
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Longitude:
                    .col-md-6
                      | {{ client.longitude }}
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Longitude:
                    .col-md-6
                      | {{ client.location_radius }}

            uib-tab index="1" select="onTabSelected(1)" heading="Blocked trainers"
              ui-view

            /uib-tab index="2" select="onTabSelected(2)"  heading="Blocked by trainers"
            /  ui-view

            uib-tab index="3" select="onTabSelected(3)" heading="Favorite trainers"
              ui-view

            uib-tab index="4" select="onTabSelected(4)" heading="Booking sessions"
              ui-view