.wrapper.wrapper-content
  .row.animated.fadeIn
    .col-md-12
      .ibox.float-e-margins
        .ibox-title
          h3
            | Problem reports
        .ibox-content
          .row
            .pull-left
              .button.btn.btn-info.csv> ng-click="downloadCSV()" style="margin-bottom: 21px"
                i.fa.fa-download
                | Export CSV
            .pull-left
              .pagination pagination="true" page="filters.page" per_page="filters.per_page" total="total"

            .pull-right
              span
                | {{ total }} problem reports found

              .btn-group< uib-dropdown=true
                button.btn.btn-xs#split-button.btn type="button"
                  | {{ filters.per_page }}
                button.btn.btn-xs type="button" uib-dropdown-toggle=true
                  span.caret

                ul.dropdown-menu uib-dropdown-menu=true role="menu"
                  li role="menuitem"
                    a ng-click="filters.per_page = 10"
                      | 10
                  li role="menuitem"
                    a ng-click="filters.per_page = 20"
                      | 20
                  li role="menuitem"
                    a ng-click="filters.per_page = 50"
                      | 50
              span<
                | per page
              .btn.button.btn-danger.btn-outline data-toggle="collapse" data-target=".filters-container"
                .fa.fa-filter
                | Filters

          .filters-container.collapse
            .row
              .col-sm-12
                .row
                  .col-sm-3
                    | Problem report reason:
                    select.form-control ng-model="filters.problem_report_reason_id"
                      option ng-repeat="(key, value) in options" value="{{value}}"
                        | {{key}}
                  .col-sm-3
                    | Full Name:
                    input.form-control type="text" ng-model="filters.name"

                  .col-sm-6.text-right
                    .button.btn.btn-danger.btn-outline ng-models="filters" ng-click="resetFilters()" style="margin-top: 20px; float: right;" Reset

          table.table.table-striped.table-responsive.peach-table
            thead
              tr
                th ng-model="filters" tablesort=true tablesort-name="id"          tablesort-title="ID"
                th ng-model="filters" tablesort=true tablesort-name="comment"     tablesort-title="Comment"
                th ng-model="filters" tablesort=true tablesort-name="problem_report_reason_id" tablesort-title="Problem report reason"
                th ng-model="filters" tablesort=true tablesort-name="created_at"  tablesort-title="Created Date"
                th ng-model="filters" tablesort=true tablesort-name="user_id"     tablesort-title="User ID"
                th ng-model="filters" tablesort=true tablesort-name="name"        tablesort-title="Full Name"
                th ng-model="filters" tablesort=true tablesort-title="Role"
                th
            tbody.text-center
              tr ng-show="total == 0"
                td.text-center colspan="8"
                  | No results found
              tr ng-repeat="problem_report in problem_reports"
                td
                  | {{ problem_report.id }}
                td
                  | {{ problem_report.comment }}
                td
                  | {{ problem_report.problem_report_reason }}
                td
                  | {{ problem_report.created_at }}
                td
                  | {{ problem_report.user_id }}
                td
                  | {{ [problem_report.first_name, problem_report.last_name].join(" ") }}
                td
                  | {{ problem_report.role_name }}
                td.text-right
                  a.btn-xs.btn.btn-danger.btn-outline ng-click="destroy(problem_report.id)"
                    | {{ I18n.t('actions.delete') }}
