.ibox-content
  .row
    .pull-left
      .button.btn.btn-info.csv> ng-click="downloadCSV()" style="margin-bottom: 21px"
        i.fa.fa-download
        | Export CSV
    .pull-left
      .pagination pagination="true" page="filters.page" per_page="filters.per_page" total="total"

    .pull-right
      span ng-hide="filters['sort_column']=='from_time' || filters['sort_column']=='rate' || filters['sort_column']==null"
        | {{ total }} bookings found
      span ng-show="filters['sort_column']=='from_time' || filters['sort_column']=='rate' || filters['sort_column']==null"
        | {{ total }} booking sessions found

      .btn-group< uib-dropdown=true
        button.btn.btn-xs#split-button3.btn type="button"
          | {{ filters.per_page }}
        button.btn.btn-xs type="button" uib-dropdown-toggle=true
          span.caret

        ul.dropdown-menu uib-dropdown-menu=true role="menu"
          li role="menuitem"
            a ng-click="filters.per_page = 10"
              | 10
          li role="menuitem"
            a ng-click="filters.per_page = 20"
              | 20
          li role="menuitem"
            a ng-click="filters.per_page = 50"
              | 50
      span<
        | per page
      .btn.button.btn-danger.btn-outline data-toggle="collapse" data-target=".filters-container"
        .fa.fa-filter
        | Filters
  .filters-container.collapse
    .row style="padding: 0"
      .col-sm-3
        |Start Date Sessions
        div class="input-group"
          input [disabled type="text"  placeholder="Start Date Sessions" class="form-control" datetime-picker="{{calendar.format}}" ng-model="filters.date_from" is-open="calendar.isOpen1"]
          span class="input-group-addon" style="cursor: pointer"
            i class="glyphicon glyphicon-calendar" ng-click="calendar.open1()"
      .col-sm-3
        |Finish Date Sessions
        div class="input-group"
          input [disabled type="text"  placeholder="Finish Date Sessions" class="form-control" datetime-picker="{{calendar.format}}" ng-model="filters.date_to" is-open="calendar.isOpen2"]
          span class="input-group-addon" style="cursor: pointer"
            i class="glyphicon glyphicon-calendar" ng-click="calendar.open2()"
    .row style="padding: 0"
      .col-sm-3
        | Full Name:
        input.form-control type="text" ng-model="filters.name"
      .col-sm-3
        | Email:
        input.form-control type="text" ng-model="filters.email"

      .col-sm-6.text-right
        .button.btn.btn-danger.btn-outline ng-models="filters" ng-click="resetFilters()" style="margin-top: 20px; float: right;" Reset

  .table-responsive
    table.table.table-striped.peach-table
      thead
        tr
          th ng-model="filters" tablesort=true tablesort-name="booking_id" tablesort-title="ID"
          th ng-model="filters" tablesort=true tablesort-name="first_name" tablesort-title="Full name"
          th
            | Avatar
          th ng-model="filters" tablesort=true tablesort-name="email" tablesort-title="Email"
          th ng-model="filters" tablesort=true tablesort-name="gender" tablesort-title="Gender"
          th ng-model="filters" tablesort=true tablesort-name="status" tablesort-title="Status"
          th ng-model="filters" tablesort=true tablesort-name="booking_type" tablesort-title="Type"
          th ng-model="filters" tablesort=true tablesort-name="session_price" tablesort-title="Price"
          th ng-model="filters" tablesort=true tablesort-name="from_time" tablesort-title="Sessions Booking"
          th ng-model="filters" tablesort=true tablesort-name="rate" tablesort-title="Rate"
      tbody.text-center
        tr ng-show="total == 0"
          td.text-center colspan="11"
            | No results found
        tr ng-repeat="booking in bookings"
          td
            | {{ booking.id }}
          td
            a href="#/clients/{{booking.user_id}}/show"
              | {{ booking.full_name }}
          td
            img ng-src="{{ booking.avatar }}" style="height: 30px; width:30px"
          td.optimizedEmail
            | {{ booking.email }}
          td
            .fa ng-class="{'fa-male': booking.gender=='male', 'fa-female': booking.gender=='female'}"
          td
            | {{ booking.status }}
          td
            | {{ booking.booking_type }}
          td
            | {{ booking.session_price }}
          td
            | {{ booking.day }}
            br
            | {{ booking.from_time }} - {{ booking.to_time }}
          td
            | {{ booking.rate }}