.wrapper.wrapper-content
  .row.animated.fadeIn
    .col-md-12
      .ibox.float-e-margins
        .ibox-title
          h3 ng-show="trainer.id"
            | Edit trainer {{ trainer.full_name }}
        .ibox-content
          form ng-submit="submit()" name="trainerForm" novalidate=true

            .form-group
              .row
                .col-sm-4
                .col-sm-2.col-sm-offset-6
                  button.ladda-button.btn.btn-info.pull-right data-style="expand-left" ladda="formPending"
                    | {{ trainer.id ? 'Update profile' : 'Save' }}

                  a.btn.btn-default.pull-right href="#/trainers"
                    | Back

            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Avatar:
                .col-sm-10
                  div image=true ng-model="trainer.avatar"
                  .error ng-show="trainerForm.avatar.$invalid && submitted"
                    | {{ I18n.t('validations.cant_be_blank')}}
                  .error ng-repeat="error in validation_errors['avatar']"
                    | {{ error }}

            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | First name:
                    span.star<
                      | *
                .col-sm-10 ng-class="validation_errors.first_name ? 'has-error' : ''"
                  .text-danger ng-repeat="error in validation_errors.first_name"
                    | {{ error }}
                  input.form-control type="text" name="first_name" ng-model="trainer.first_name"
            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Last name:
                    span.star<
                      | *
                .col-sm-10 ng-class="validation_errors.last_name ? 'has-error' : ''"
                  .text-danger ng-repeat="error in validation_errors.last_name"
                    | {{ error }}
                  input.form-control type="text" name="last_name" ng-model="trainer.last_name"

            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Account confirmed:
                .col-sm-1 ng-class="validation_errors.confirmed ? 'has-error' : ''"
                  .text-danger ng-repeat="error in validation_errors.confirmed"
                    | {{ error }}
                  .abc-checkbox.abc-checkbox-primary
                    input.styled id="checkbox" type="checkbox" name="confirmed" ng-model="trainer.confirmed"
                    label for="checkbox"
            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Gender:
                    span.star<
                      | *
                .col-sm-10 ng-class="validation_errors.gender ? 'has-error' : ''"
                  .text-danger ng-repeat="error in validation_errors.gender"
                    | {{ error }}

                  .col-sm-2
                    label
                      .abc-radio.abc-radio-primary
                        input id="radio1" type="radio" ng-model="trainer.gender" value="male"
                        label for="radio1"
                          i.fa.fa-male
                        |  male
                  .col-sm-2
                    label
                      .abc-radio.abc-radio-primary
                        input id="radio2" type="radio" ng-model="trainer.gender" value="female"
                        label for="radio2"
                          i.fa.fa-female
                        |  female
                  .col-sm-2
                    label
                      .abc-radio.abc-radio-primary
                        input id="radio3" type="radio" ng-model="trainer.gender" value="other"
                        label for="radio3"
                        |  other

            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Email:
                    span.star
                      | *
                .col-sm-10 ng-class="validation_errors.email ? 'has-error' : ''"
                  .text-danger ng-repeat="error in validation_errors.email"
                    | {{ error }}
                  input.form-control type="email" name="email" ng-model="trainer.email"
            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Email confirmed:
                .col-sm-1 ng-class="validation_errors.email_confirmed ? 'has-error' : ''"
                  .text-danger ng-repeat="error in validation_errors.email_confirmed"
                    | {{ error }}
                  .abc-checkbox.abc-checkbox-primary
                    input.styled id="checkbox_email" type="checkbox" name="confirmed" ng-model="trainer.email_confirmed"
                    label for="checkbox_email"
            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Address:
                    span.star
                      | *
                .col-sm-10 ng-class="validation_errors.address ? 'has-error' : ''"
                  .text-danger ng-repeat="error in validation_errors.address"
                    | {{ error }}
                  input.form-control type="text" name="address" ng-model="trainer.address"
            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Bio:
                    span.star
                      | *
                .col-sm-10 ng-class="validation_errors.bio ? 'has-error' : ''"
                  .text-danger ng-repeat="error in validation_errors.bio"
                    | {{ error }}
                  textarea.form-control style="min-width: 100%; max-width: 100%" type="text" name="bio" ng-model="trainer.bio"
            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Qualification:
                    span.star
                      | *
                .col-sm-10 ng-class="validation_errors.qualification ? 'has-error' : ''"
                  .text-danger ng-repeat="error in validation_errors.qualification"
                    | {{ error }}
                  textarea.form-control style="min-width: 100%; max-width: 100%" type="text" name="qualification" ng-model="trainer.qualification"

            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Specialities:
                    span.star
                      | *
                .col-sm-10 ng-class="validation_errors.qualification ? 'has-error' : ''"
                  .row
                    .col-md-4 ng-repeat="speciality in trainer.specialities"
                      .abc-checkbox.abc-checkbox-success
                        input.styled id="abc-{{ $index }}" type="checkbox" ng-model="speciality.selected"
                        label for="abc-{{ $index }}"
                          | {{ speciality.title }}
                  .text-danger ng-repeat="error in validation_errors.specialities"
                    | {{ error }}

            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Post Code:
                    span.star
                      | *
                .col-sm-10 ng-class="validation_errors.post_code ? 'has-error' : ''"
                  .text-danger ng-repeat="error in validation_errors.post_code"
                    | {{ error }}
                  input.form-control type="text" name="post_code" ng-model="trainer.post_code"
            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Password:
                    span.star
                      | *
                .col-sm-10 ng-class="validation_errors.password ? 'has-error' : ''"
                  .text-danger ng-repeat="error in validation_errors.password"
                    | {{ error }}
                  input.form-control type="password" name="password" ng-model="trainer.password"
                  p.text-info.text-center
                    | leave blank if you don't want to change it
            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Password confirmation:
                    span.star
                      | *
                .col-sm-10 ng-class="validation_errors['password_confirmation']? 'text-danger' : ''"
                  input.form-control type="password" name="password_confirmation" ng-model="trainer.password_confirmation"
                  .text-danger ng-repeat="error in validation_errors['password_confirmation']"
                    | {{ error }}

            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Price sessions:
                    span.star
                      | *
                .col-sm-2 ng-class="validation_errors.sessions_price ? 'has-error' : ''"
                  .text-danger ng-repeat="error in validation_errors.sessions_price"
                    | {{ error }}
                  input.form-control [type="number" name="sessions_price" ng-model="trainer.sessions_price" step="0.01"]
            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Latitude:
                    span.star
                      | *
                .col-sm-2 ng-class="validation_errors.latitude ? 'has-error' : ''"
                  .text-danger ng-repeat="error in validation_errors.latitude"
                    | {{ error }}
                  input.form-control type="number" name="latitude" ng-model="trainer.latitude" step="0.005"
                .col-sm-2.text-right
                  label.control-label
                    | Longitude:
                    span.star
                      | *
                .col-sm-2 ng-class="validation_errors.longitude ? 'has-error' : ''"
                  .text-danger ng-repeat="error in validation_errors.longitude"
                    | {{ error }}
                  input.form-control type="number" name="longitude" ng-model="trainer.longitude" step="0.005"
                .col-sm-2.text-right
                  label.control-label
                    | Radius:
                    span.star
                      | *
                .col-sm-2 ng-class="validation_errors.location_radius ? 'has-error' : ''"
                  .text-danger ng-repeat="error in validation_errors.location_radius"
                    | {{ error }}
                  input.form-control type="number" name="location_radius" ng-model="trainer.location_radius" step="0.1"

            .form-group
              .row
                .col-sm-2

                .col-sm-10
                  div map-lazy-load="https://maps.google.com/maps/api/js" style="height: 300px"
                    ng-map zoom="14" center="[{{ defaultLat }}, {{ defaultLng }}]" on-click="addMarker()"

