.wrapper.wrapper-content
  .row.animated.fadeIn
    .col-md-12
      .ibox.float-e-margins
        .ibox-title
          .row
            .col-md-4
              h3 ng-show="trainer.id"
                | Trainer: {{ trainer.full_name }}
            .col-md-8.text-right
              a.btn.btn-success ng-click="confirm(trainer.id)" ng-hide="trainer.confirmed"
                | Confirm
              a.btn.btn-warning href="#/trainers/{{trainer.id}}/edit" ng-show="trainer.confirmed"
                | Edit
              a.btn.btn-info href="#/trainers"
                | Back
        .ibox-content
          uib-tabset
            uib-tab index="0" heading="INFO"
              br
              .row
                .col-md-5
                  img.img-thumbnail ng-src="{{ trainer.avatar.url}}" style="max-height: 180px; max-width: 180px"
                .col-md-7
                  div map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyC_ZObsSSR1_7HIP0I8Sgur1HpBmZlEy08" style="height: 300px"
                    ng-map center="[{{ defaultLat }}, {{ defaultLng }}]"
              br
              .row.drilldown
                .col-md-6
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | First name:
                    .col-md-6
                      | {{ trainer.first_name }}
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Last name:
                    .col-md-6
                      | {{ trainer.last_name }}
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Gender:
                    .col-md-6
                      | {{ trainer.gender }}
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Email:
                    .col-md-6
                      | {{ trainer.email }}
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Email confimed:
                    .col-md-6
                      .fa ng-class="{'fa-check': trainer.email_confirmed, 'fa-times': !trainer.email_confirmed }"
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Address:
                    .col-md-6
                      | {{ trainer.address }}
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Postal Code:
                    .col-md-6
                      | {{ trainer.post_code }}
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Sessions price:
                    .col-md-6
                      | {{ trainer.sessions_price }}
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Account confirmed:
                    .col-md-6
                      .fa ng-class="{'fa-check': trainer.confirmed, 'fa-times': !trainer.confirmed }"
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Social:
                    .col-md-6
                      .fa ng-class="{'fa-check': trainer.social, 'fa-times': !trainer.social }"

                  .row ng-show="trainer.facebook_id"
                    .col-md-6.text-right
                      label.control-label
                        | Facebook id:
                    .col-md-6
                      | {{ trainer.facebook_id }}
                  .row ng-show="trainer.qb_user_id"
                    .col-md-6.text-right
                      label.control-label
                        | QB user id:
                    .col-md-6
                      | {{ trainer.qb_user_id }}
                  .row ng-show="trainer.bio"
                    .col-md-6.text-right
                      label.control-label
                        | Bio:
                    .col-md-6
                      | {{ trainer.bio }}
                  .row ng-show="trainer.bio"
                    .col-md-6.text-right
                      label.control-label
                        | Qualification:
                    .col-md-6
                      | {{ trainer.qualification }}
                  .row ng-show="trainer.bio"
                    .col-md-6.text-right
                      label.control-label
                        | Average response time:
                    .col-md-6
                      | {{ trainer.average_response_time }}
                .col-md-6
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Specialities:
                    .col-md-6
                      span ng-repeat="speciality in trainer.specialities | filter:{selected: true}"
                        | {{ speciality.title }},&nbsp;
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Training places:
                    .col-md-6
                      | {{ trainer.training_places }}
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Has credit card:
                    .col-md-6
                      .fa ng-class="{'fa-check': trainer.credit_card, 'fa-times': !trainer.credit_card }"
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Notifications:
                    .col-md-6
                      .fa ng-class="{'fa-check': trainer.notification_enabled, 'fa-times': !trainer.notification_enabled }"
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Deactivated at:
                    .col-md-6
                      | {{ trainer.deactivated_at }}
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Deactivation message:
                    .col-md-6
                      | {{ trainer.deactivation_message }}
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Registered at:
                    .col-md-6
                      | {{ trainer.created_at }}
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Bank account:
                    .col-md-6
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Name:
                    .col-md-6
                      | {{ trainer.bank_account_name }}
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Number:
                    .col-md-6
                      | {{ trainer.bank_account_number }}
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Bank:
                    .col-md-6
                      | {{ trainer.bank_account_bank }}
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Sort code:
                    .col-md-6
                      | {{ trainer.bank_account_sort_code }}
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Latitude:
                    .col-md-6
                      | {{ trainer.latitude }}
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Longitude:
                    .col-md-6
                      | {{ trainer.longitude }}
                  .row
                    .col-md-6.text-right
                      label.control-label
                        | Location radius:
                    .col-md-6
                      | {{ trainer.location_radius }}

            /uib-tab index="1" heading="Blocked clients" select="onTabSelected(1)"
            /  ui-view
            uib-tab index="2" heading="Blocked by clients" select="onTabSelected(2)"
              ui-view
            uib-tab index="3" select="onTabSelected(3)" heading="Booking Sessions"
              ui-view
            uib-tab index="4" select="onTabSelected(4)" heading="Clients"
              ui-view
