
.loginColumns.animated.fadeInDown
  .row
    .col-md-6
      p
        img src="/images/peach_logo.png"
    .col-md-6
      .ibox-content
        form.m-t role="form" novalidate=true ng-submit="submitLoginCredentials()"
          .form-group
            input.form-control placeholder="Username" required="" type="email" ng-model="session.email"
          .form-group
            input.form-control placeholder="Password" required="" type="password" ng-model="session.password"
          div ng-show="validation_errors"
            .error ng-repeat="error in validation_errors"
              | {{ error }}
          input.btn.btn-primary.block.full-width.m-b type="submit" value="Login" style="margin-left: 0"
          a href="#forgot_password"
            small Forgot password?
  hr
  .row
    .col-md-6
      | Copyright Peach
    .col-md-6.text-right
      small © 2017 - 2018