.wrapper.wrapper-content
  .row.animated.fadeIn
    .col-md-12
      .ibox.float-e-margins
        .ibox-title.text-center
          h3
            | Feedback
          h1
            i class="glyphicon glyphicon-star" ng-repeat="e in feedbeck_avg_array track by $index"
            i
              | ({{ feedbeck_avg }})
        .ibox-content
          .row
            .pull-left
              .pagination pagination="true" page="filters.page" per_page="filters.per_page" total="total"

            .pull-right
              span
                | {{ total }} feedback found

              .btn-group< uib-dropdown=true
                button.btn.btn-xs#split-button.btn type="button"
                  | {{ filters.per_page }}
                button.btn.btn-xs type="button" uib-dropdown-toggle=true
                  span.caret

                ul.dropdown-menu uib-dropdown-menu=true role="menu"
                  li role="menuitem"
                    a ng-click="filters.per_page = 10"
                      | 10
                  li role="menuitem"
                    a ng-click="filters.per_page = 20"
                      | 20
                  li role="menuitem"
                    a ng-click="filters.per_page = 50"
                      | 50
              span<
                | per page
              .btn.button.btn-danger.btn-outline data-toggle="collapse" data-target=".filters-container"
                .fa.fa-filter
                | Filters

          .filters-container.collapse
            .row
              .col-sm-12
                .row
                  .col-sm-6
                    | Full Name:
                    input.form-control type="text" ng-model="filters.name"

                  .col-sm-6.text-right
                    .button.btn.btn-danger.btn-outline ng-models="filters" ng-click="resetFilters()" style="margin-top: 20px; float: right;" Reset

          .table-responsive
            table.table.table-striped.peach-table
              thead
                tr
                  th ng-model="filters" tablesort=true tablesort-name="feedback_id"         tablesort-title="ID"
                  th ng-model="filters" tablesort=true tablesort-name="first_name" tablesort-title="Full name"
                  th ng-model="filters" tablesort=true tablesort-name="gender"     tablesort-title="Gender"
                  th
                    | Avatar
                  th ng-model="filters" tablesort=true tablesort-name="stars" tablesort-title="Stars"
                  th ng-model="filters" tablesort=true tablesort-name="comment" tablesort-title="Comment"
                  th ng-model="filters" tablesort=true tablesort-name="created_at" tablesort-title="Created At"
              tbody.text-center
                tr ng-show="total == 0"
                  td.text-center colspan="7"
                    | No results found
                tr ng-repeat="feedback in feedbacks"
                  td
                    | {{ feedback.id }}
                  td
                    | {{ feedback.full_name }}
                  td
                    .fa ng-class="{'fa-male': user.gender=='male', 'fa-female': user.gender=='female'}"
                  td
                    img ng-src="{{ feedback.avatar }}" style="height: 30px; width:30px"
                  td
                    | {{ feedback.stars }}
                  td
                    | {{ feedback.comment }}
                  td
                    | {{ feedback.time }}