nav.navbar-default.navbar-static-side.ng-scope role="navigation"
  .slimScrollDiv style=("position: relative; overflow: hidden; width: auto; height: 100%;")
    .sidebar-collapse style=("overflow: hidden; width: auto; height: 100%;")
      ul#side-menu.nav.metismenu side-navigation=""
        / menu links
        li ng-class=("{active: state == 'trainers'}")
          a href="#trainers"
            i.fa.fa-male
            span.nav-label
              | Trainers
        li ng-class=("{active: state == 'clients'}")
          a href="#clients"
            i.fa.fa-female
            span.nav-label
              | Clients
        li ng-class=("{active: state == 'state_deactivated'}")
          a href="#"
            i.fa.fa-ban
            span.nav-label
              | Deactivated accounts
            span.fa.arrow
          ul.nav.nav-second-level.collapse ng-class="{active: state == 'state_deactivated', in: state == 'state_deactivated'}"
            li.active ui-sref-active="active"
              a.ng-binding href="#deactivated_clients"
                | Clients
            li.active ui-sref-active="active"
              a.ng-binding href="#deactivated_trainers"
                | Trainers
        li ng-class=("{active: state == 'content_pages'}")
          a href="#"
            i.fa.fa-file-text
            span.nav-label
              | Content
            span.fa.arrow
          ul.nav.nav-second-level.collapse ng-class="{active: state == 'content_pages', in: state == 'content_pages'}"
            li.active ui-sref-active="active"
              a.ng-binding href="#block_client_reasons"
                | Block client reasons
            li.active ui-sref-active="active"
              a.ng-binding href="#block_trainer_reasons"
                | Block trainer reasons
            li.active ui-sref-active="active"
              a.ng-binding href="#specialities"
                | Specialities
            li.active ui-sref-active="active"
              a.ng-binding href="#goals"
                | Goals
            li.active ui-sref-active="active"
              a.ng-binding href="#reject_booking_reasons"
                | Reject booking reasons
            li.active ui-sref-active="active"
              a.ng-binding href="#training_places"
                | Training places
            li.active ui-sref-active="active"
              a.ng-binding href="#problem_reports"
                | Problem reports
            li.active ui-sref-active="active"
              a.ng-binding href="#session_ratings"
                | Session Ratings
            li.active ui-sref-active="active"
              a.ng-binding href="#problem_report_reasons"
                | Problem report reasons
            li.active ui-sref-active="active"
              a.ng-binding href="#feedbacks"
                | Feedbacks
        li ng-class=("{active: state == 'state_pages'}")
          a href="#"
            i.fa.fa-file-o
            span.nav-label
              | Pages
            span.fa.arrow
          ul.nav.nav-second-level.collapse ng-class=("{active: state == 'state_pages', in: state == 'state_pages'}")
            li.active ui-sref-active="active"
              a.ng-binding href="#terms_n_conditions_page"
                | Terms and conditions
            li.active ui-sref-active="active"
              a.ng-binding href="#privacy_policy_page"
                | Privacy policy
            li.active ui-sref-active="active"
              a.ng-binding href="#what_is_page"
                | What is peach

        li ng-class=("{active: state == 'system_pages'}")
          a href="#"
            i.fa.fa-gear
            span.nav-label
              | System
            span.fa.arrow
          ul.nav.nav-second-level.collapse ng-class=("{active: state == 'system_pages', in: state == 'system_pages'}")
            li.active ui-sref-active="active"
              a.ng-binding href="#email_sender"
                | Email
            li.active ui-sref-active="active"
              a.ng-binding href="#admins"
                | Admins
            li.active ui-sref-active="active"
              a.ng-binding href="#system_settings"
                | System settings
            li.active ui-sref-active="active"
              a.ng-binding href="#admin_notifications"
                | Notifications

        li ng-class=("{active: state == 'announcements'}")
          a href="#announcements"
            i.fa.fa-paper-plane
            span.nav-label
              | Announcements