.row.border-bottom.ng-scope
  nav.navbar.navbar-fixed-top role="navigation" style=("margin-bottom: 0")
    .navbar-header
      span minimaliza-sidebar=""
        a.navbar-minimalize.minimalize-styl-2.btn.btn-primary href="" ng-click="minimalize()"
          i.fa.fa-bars
    ul.nav.navbar-top-links.navbar-right
      li
        span uib-dropdown="" on-toggle="toggled(open)"
          a id="simple-dropdown" uib-dropdown-toggle="" ng-click="getNotifications()"
            i.fa.fa-bell
              i.fa.fa-circle ng-show="unread_count > 0"
          ul class="dropdown-menu" uib-dropdown-menu="" aria-labelledby="simple-dropdown"
            li ng-repeat="notification in notifications"
              a.dropli ng-click="notificationClick(notification)" ng-class="{'newNotification': !notification.readed}"
                .title
                  | {{ notification.title }}
                .description
                  | {{ notification.description }}
            li
              a.text-center ui-sref="admin_notifications"
                | See all notifications
      li
        a ng-click="logout()" href="#"
          i.fa.fa-sign-out
          | Log out