.wrapper.wrapper-content
  .row.animated.fadeIn
    .col-md-12
      .ibox.float-e-margins
        .ibox-title
          h3
            | Notification list
        .ibox-content
          .row
            .pull-left
              .pagination pagination="true" page="filters.page" per_page="filters.per_page" total="total"

            .pull-right
              span
                | {{ total }} notifications
              .btn-group< uib-dropdown=true
                button.btn.btn-xs#split-button.btn type="button"
                  | {{ filters.per_page }}
                button.btn.btn-xs type="button" uib-dropdown-toggle=true
                  span.caret

                ul.dropdown-menu uib-dropdown-menu=true role="menu"
                  li role="menuitem"
                    a ng-click="filters.per_page = 10"
                      | 10
                  li role="menuitem"
                    a ng-click="filters.per_page = 20"
                      | 20
                  li role="menuitem"
                    a ng-click="filters.per_page = 50"
                      | 50
              span<
                | per page
          .table-responsive
            table.table.table-striped.peach-table
              thead
                tr
                  th ng-model="filters" tablesort=true tablesort-name="id"         tablesort-title="ID"
                  th ng-model="filters" tablesort=true tablesort-name="notify_type"         tablesort-title="Title"
                  th
                    | Description
                  th ng-model="filters" tablesort=true tablesort-name="readed"      tablesort-title="Readed"
                  th ng-model="filters" tablesort=true tablesort-name="created_at"      tablesort-title="Created"
                  th
                    | Action
              tbody
                tr ng-show="total == 0"
                  td.text-center colspan="4"
                    | No results found
                tr ng-repeat="notification in notifications"
                  td
                    | {{ notification.id }}
                  td
                    | {{ notification.title }}
                  td
                    | {{ notification.description }}
                  td.text-center
                    .fa ng-class="{'fa-check': notification.readed, 'fa-times': !notification.readed}"
                  td
                    | {{ notification.created_at }}
                  td
                    .btn.btn-danger.btn-xs ng-click="markAsSeen(notification)" ng-hide="notification.readed"
                      | Mark as seen
                    .btn.btn-success.btn-xs ng-click="notificationClick(notification)"
                      | Go to
