.wrapper.wrapper-content
  .row.animated.fadeIn
    .col-md-12
      .ibox.float-e-margins
        .ibox-title
          h3
            | Privacy policy page
        .ibox-content
          form ng-submit="submit()" name="PrivacyPolicyPageForm" novalidate=true
            .form-group
              .row
                .col-sm-2
                  label.control-label
                    | {{ I18n.t('privacy_policy_page.fields.content') }}:
                .col-sm-10
                  div redactor=true name="content" ng-model="privacy_policy_page.content" style="width: 100%" file-upload-path="/attachments/privacy_policy_page_content"

                  .error ng-repeat="error in validation_errors['content']"
                    | {{ error }}

              .hr-line-dashed

            .form-group
              .row
                .col-sm-4.col-sm-offset-2
                  button.ladda-button.btn.btn-info data-style="expand-left" ladda="formPending"
                    | {{ I18n.t('actions.submit') }}
