.wrapper.wrapper-content
  .row.animated.fadeIn
    .col-md-12
      form ng-submit="submit()" name="SystemSettingsForm" novalidate=true
        .ibox.float-e-margins
          .ibox-title
            h3
              | System settings
          .ibox-content

            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Fee:
                    span.star<
                      | *
                .col-sm-10 ng-class="validation_errors.fee ? 'has-error' : ''"
                  .text-danger> ng-repeat="error in validation_errors.fee"
                    | {{ error }}
                  input.form-control type="number" name="fee" ng-model="system_settings.fee"
            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Min price:
                    span.star<
                      | *
                .col-sm-10 ng-class="validation_errors.min_price ? 'has-error' : ''"
                  .text-danger> ng-repeat="error in validation_errors.min_price"
                    | {{ error }}
                  input.form-control [type="number" name="min_price" ng-model="system_settings.min_price" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required]
                  .has-error ng-show="SystemSettingsForm.min_price.$dirty && !SystemSettingsForm.min_price.$valid"
                    .text-danger
                      | Invalid! >=0
            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Max price:
                    span.star<
                      | *
                .col-sm-10 ng-class="validation_errors.max_price ? 'has-error' : ''"
                  .text-danger> ng-repeat="error in validation_errors.max_price"
                    | {{ error }}
                  input.form-control [type="number" name="max_price" ng-model="system_settings.max_price" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required]
                  .has-error ng-show="SystemSettingsForm.max_price.$dirty && !SystemSettingsForm.max_price.$valid"
                    .text-danger
                      | Invalid! >=0
            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Package expiration time (hours):
                    span.star<
                      | *
                .col-sm-10 ng-class="validation_errors.package_expiration_time ? 'has-error' : ''"
                  .text-danger> ng-repeat="error in validation_errors.package_expiration_time"
                    | {{ error }}
                  input.form-control type="number" name="package_expiration_time" ng-model="system_settings.package_expiration_time"
            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Min sessions count:
                    span.star<
                      | *
                .col-sm-10 ng-class="validation_errors.min_sessions ? 'has-error' : ''"
                  .text-danger> ng-repeat="error in validation_errors.min_sessions"
                    | {{ error }}
                  input.form-control type="number" name="min_sessions" ng-model="system_settings.min_sessions"
            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Max sessions count:
                    span.star<
                      | *
                .col-sm-10 ng-class="validation_errors.max_sessions ? 'has-error' : ''"
                  .text-danger> ng-repeat="error in validation_errors.max_sessions"
                    | {{ error }}
                  input.form-control type="number" name="max_sessions" ng-model="system_settings.max_sessions"

            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Min radius:
                    span.star<
                      | *
                .col-sm-10 ng-class="validation_errors.min_radius ? 'has-error' : ''"
                  .text-danger> ng-repeat="error in validation_errors.min_radius"
                    | {{ error }}
                  input.form-control type="number" name="min_radius" ng-model="system_settings.min_radius" step="0.01"
            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Max radius:
                    span.star<
                      | *
                .col-sm-10 ng-class="validation_errors.max_radius ? 'has-error' : ''"
                  .text-danger> ng-repeat="error in validation_errors.max_radius"
                    | {{ error }}
                  input.form-control type="number" name="max_radius" ng-model="system_settings.max_radius" step="0.01"
            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Trainer's bio limit:
                    span.star<
                      | *
                .col-sm-10 ng-class="validation_errors.trainer_bio_max_lenght ? 'has-error' : ''"
                  .text-danger> ng-repeat="error in validation_errors.trainer_bio_max_lenght"
                    | {{ error }}
                  input.form-control type="number" name="max_radius" ng-model="system_settings.trainer_bio_max_lenght" step="1" min="1"
            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Trainer's qualification limit:
                    span.star<
                      | *
                .col-sm-10 ng-class="validation_errors.trainer_qualification_max_lenght ? 'has-error' : ''"
                  .text-danger> ng-repeat="error in validation_errors.trainer_qualification_max_lenght"
                    | {{ error }}
                  input.form-control type="number" name="max_radius" ng-model="system_settings.trainer_qualification_max_lenght" step="1" min="1"

        .ibox.float-e-margins
          .ibox-title
            h3
              | Push notifications
          .ibox-content
              .form-group
                .row
                  .col-sm-2.text-right
                    label.control-label
                      | iOS push APNS host:
                      span.star<
                        | *
                  .col-sm-10 ng-class="validation_errors.ios_push_apns_host ? 'has-error' : ''"
                    .text-danger> ng-repeat="error in validation_errors.ios_push_apns_host"
                      | {{ error }}
                    input.form-control type="text" name="ios_push_apns_host" ng-model="system_settings.ios_push_apns_host"
              .form-group
                .row
                  .col-sm-2.text-right
                    label.control-label
                      | iOS push password:
                      span.star<
                        | *
                  .col-sm-10 ng-class="validation_errors.ios_push_password ? 'has-error' : ''"
                    .text-danger> ng-repeat="error in validation_errors.ios_push_password"
                      | {{ error }}
                    input.form-control type="text" name="ios_push_apns_host" ng-model="system_settings.ios_push_password"
              .form-group
                .row
                  .col-sm-2.text-right
                    label.control-label
                      | iOS push environment sandbox:
                      span.star<
                        | *
                  .col-sm-10 ng-class="validation_errors.ios_push_environment_sandbox ? 'has-error' : ''"
                    .text-danger> ng-repeat="error in validation_errors.ios_push_environment_sandbox"
                      | {{ error }}
                    .onoffswitch
                      input#ios_push_environment_sandbox-on-off-switch.onoffswitch-checkbox ng-model="system_settings.ios_push_environment_sandbox" type="checkbox"
                      label.onoffswitch-label for="ios_push_environment_sandbox-on-off-switch"
                        span.onoffswitch-inner
                        span.onoffswitch-switch
              .form-group
                .row
                  .col-sm-2.text-right
                    label.control-label
                      | iOS push certificate:
                      span.star<
                        | *
                  .col-sm-10 ng-class="validation_errors.ios_push_certificate ? 'has-error' : ''"
                    .text-danger> ng-repeat="error in validation_errors.ios_push_certificate"
                      | {{ error }}
                    div file=true ng-model="system_settings.ios_push_certificate"

        .ibox.float-e-margins
          .ibox-title
            h3
              | Stripe
          .ibox-content
              .form-group
                .row
                  .col-sm-2.text-right
                    label.control-label
                      | Publishable key:
                      span.star<
                        | *
                  .col-sm-10 ng-class="validation_errors.stripe_publishable_key ? 'has-error' : ''"
                    .text-danger> ng-repeat="error in validation_errors.stripe_publishable_key"
                      | {{ error }}
                    input.form-control type="text" name="stripe_publishable_key" ng-model="system_settings.stripe_publishable_key"
              .form-group
                .row
                  .col-sm-2.text-right
                    label.control-label
                      | Secret key:
                      span.star<
                        | *
                  .col-sm-10 ng-class="validation_errors.stripe_secret_key ? 'has-error' : ''"
                    .text-danger> ng-repeat="error in validation_errors.stripe_secret_key"
                      | {{ error }}
                    input.form-control type="text" name="stripe_secret_key" ng-model="system_settings.stripe_secret_key"

        .ibox.float-e-margins
          .ibox-title
            h3
              | QB
          .ibox-content
              .form-group
                .row
                  .col-sm-2.text-right
                    label.control-label
                      | Host:
                      span.star<
                        | *
                  .col-sm-10 ng-class="validation_errors.qb_host ? 'has-error' : ''"
                    .text-danger> ng-repeat="error in validation_errors.qb_host"
                      | {{ error }}
                    input.form-control type="text" name="qb_host" ng-model="system_settings.qb_host" placeholder="https://api.quickblox.com"
              .form-group
                .row
                  .col-sm-2.text-right
                    label.control-label
                      | Application ID:
                      span.star<
                        | *
                  .col-sm-10 ng-class="validation_errors.qb_application_id ? 'has-error' : ''"
                    .text-danger> ng-repeat="error in validation_errors.qb_application_id"
                      | {{ error }}
                    input.form-control type="text" name="qb_application_id" ng-model="system_settings.qb_application_id"
              .form-group
                .row
                  .col-sm-2.text-right
                    label.control-label
                      | Auth key:
                      span.star<
                        | *
                  .col-sm-10 ng-class="validation_errors.qb_auth_key ? 'has-error' : ''"
                    .text-danger> ng-repeat="error in validation_errors.qb_auth_key"
                      | {{ error }}
                    input.form-control type="text" name="qb_auth_key" ng-model="system_settings.qb_auth_key"
              .form-group
                .row
                  .col-sm-2.text-right
                    label.control-label
                      | Auth secret:
                      span.star<
                        | *
                  .col-sm-10 ng-class="validation_errors.qb_auth_secret ? 'has-error' : ''"
                    .text-danger> ng-repeat="error in validation_errors.qb_auth_secret"
                      | {{ error }}
                    input.form-control type="text" name="qb_auth_secret" ng-model="system_settings.qb_auth_secret"
        .ibox.float-e-margins
          .ibox-title
            .form-group
              .row
                .col-sm-4.col-sm-offset-2
                  button.ladda-button.btn.btn-info data-style="expand-left" ladda="formPending"
                    | {{ I18n.t('actions.submit') }}
