//= require bootstrap_and_overrides
//= require animate.css/animate
//= require ng-dialog/css/ngDialog
//= require ng-dialog/css/ngDialog-theme-default
//= require font-awesome
//= require angular-ui-bootstrap/dist/ui-bootstrap-csp.css
//= require country_select/css/msdropdown/dd
//= require country_select/css/msdropdown/flags
//= require inspinia
//= require toastr
//= require ladda
//= require redactor
//= require sweetalert/dist/sweetalert
//= require awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css

body
  font-size: 12px


form
  margin-bottom: 0

a
  cursor: pointer

.error
  color: red

.dropdown-menu
  max-height: 300px
  overflow-y: auto

.ibox .open > .dropdown-menu
  right: auto

.droppable-area
  border: 2px dashed transparent
  border-radius: 10px
  -webkit-border-radius: 10px
  -moz-border-radius: 10px
  padding: 10px
  &.file-hover
    border: 2px dashed lightgray

  ul.images-list
    margin: 0
    padding: 0
    li
      position: relative
      margin-right: 4px
      margin-bottom: 4px
      display: inline-block
      border: 1px solid lightgray
      width: 130px
      height: 130px
      border-radius: 6px
      -webkit-border-radius: 6px
      -moz-border-radius: 6px
      background-size: cover
      background-position: center
      &:hover
        border-color: #000000

      &.plus
        label
          &:hover
            cursor: pointer
            i.fa.fa-plus
              color: #000000


          position: relative
          width: 130px
          height: 130px
          input[type=file]
            display: none

          i.fa.fa-plus
            color: lightgray
            position: absolute
            margin: auto auto
            top: 0
            bottom: 0
            left: 0
            right: 0
            font-size: 20px
            width: 20px
            height: 20px



      i.fa.fa-close
        color: lightgray
        position: absolute
        top: 4px
        right: 4px
        font-size: 15px
        width: 15px
        height: 15px
        cursor: pointer

.media-body
  width: 100% !important

.ladda-spinner
  height: 0 !important
  display: block  !important

.pagination
  margin-top: 0 !important

table
  width: 100%
  font-size: 11px
  tbody
    tr
      td.optimizedEmail
        max-width: 200px
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
      td.booking_sessions
        div
          div
            div
              div
                min-width: 100px
        .row
          margin-right: -5px
.peach-table
  border-collapse: collapse
  thead
    z-index: 1000
    tr
      th
        border: 1px solid lightgray
        position: relative
        padding: 6px 20px 6px 6px
        background-color: black
        color: white
        .sort
          position: absolute
          top: 6px
          right: 3px
          display: inline
          i.fa
            cursor: pointer

.btn-group
  .btn.btn-xs
    height: 34px

.filter-checkbox
  padding-top: 25px
  label
    padding-top: 3px


.form-horizontal
  width:  500px
.datetime-picker-dropdown
  overflow: hidden !important
  background-color: white
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
  font-size: 10px
.datetime-picker-dropdown > li.date-picker-menu div > table
  background-color: white
  color: black
.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default
  background-color: white
  color: black
.datetime-picker-dropdown > li > span > .btn
  background-color: #0e9aef
  color: black

.csv
  height: 27px
  padding-top: 3px
  margin-right: 10px

.droppable-area
  padding: 0
.row
  padding: 0 15px

.nav > li > span a i
  &.fa-bell
    font-size: 18px
  .fa-circle
    font-size: 8px
    position: absolute
    color: #e81e62
.dropdown-toggle
  background-color: transparent !important

.dropli
  min-width: 300px
  min-height: 40px
  line-height: 20px !important

  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.12)
  .title
    font-size: 13px
    font-weight: 600
  .description
    font-size: 12px
    padding-left: 5px
.dropdown-menu
  max-height: 680px

.newNotification
  background: mistyrose

.abc-checkbox label
  padding-left: 10px
  padding-top: 4px
.abc-checkbox
  margin-bottom: 4px
.abc-checkbox-success input[type="checkbox"]:checked + label::before, .abc-checkbox-success input[type="radio"]:checked + label::before
  background-color: #e81e62
  border-color: #e81e62
  otline: none

.drilldown
  .col-md-6
    text-overflow: ellipsis
    overflow: hidden