.wrapper.wrapper-content
  .row.animated.fadeIn
    .col-md-12
      .ibox.float-e-margins
        .ibox-title
          h3 ng-show="admin.id"
            | Edit admin user
          h3 ng-hide="admin.id"
            | New admin user
        .ibox-content
          form ng-submit="submit()" name="adminForm" novalidate=true

            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | First name:
                    span.star<
                      | *
                .col-sm-10 ng-class="validation_errors.first_name ? 'has-error' : ''"
                  .text-danger ng-repeat="error in validation_errors.first_name"
                    | {{ error }}
                  input.form-control type="text" name="first_name" ng-model="admin.first_name"
            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Last name:
                    span.star<
                      | *
                .col-sm-10 ng-class="validation_errors.last_name ? 'has-error' : ''"
                  .text-danger ng-repeat="error in validation_errors.last_name"
                    | {{ error }}
                  input.form-control type="text" name="last_name" ng-model="admin.last_name"
            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Email:
                    span.star
                      | *
                .col-sm-10 ng-class="validation_errors.email ? 'has-error' : ''"
                  .text-danger ng-repeat="error in validation_errors.email"
                    | {{ error }}
                  input.form-control type="email" name="email" ng-model="admin.email"
            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Password:
                    span.star
                      | *
                .col-sm-10 ng-class="validation_errors.password ? 'has-error' : ''"
                  .text-danger ng-repeat="error in validation_errors.password"
                    | {{ error }}
                  input.form-control type="password" name="password" ng-model="admin.password"
                  p.text-info.text-center
                    | leave blank if you don't want to change it
            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Password confirmation:
                    span.star
                      | *
                .col-sm-10 ng-class="validation_errors.password_confirmation ? 'has-error' : ''"
                  .text-danger ng-repeat="error in validation_errors.password_confirmation"
                    | {{ error }}
                  input.form-control type="password" name="password_confirmation" ng-model="admin.password_confirmation"

            .form-group
              .row
                .col-sm-4.col-sm-offset-2
                  button.ladda-button.btn.btn-info data-style="expand-left" ladda="formPending"
                    | {{ I18n.t('actions.submit') }}