.wrapper.wrapper-content
  .row.animated.fadeIn
    .col-md-12
      .ibox.float-e-margins
        .ibox-title
          h3 ng-show="goal.id"
            | Edit goal
          h3 ng-hide="goal.id"
            | New goal
        .ibox-content
          form ng-submit="submit()" name="goalForm" novalidate=true

            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Title:
                    span.star<
                      | *
                .col-sm-10 ng-class="validation_errors.title ? 'has-error' : ''"
                  .text-danger ng-repeat="error in validation_errors.title"
                    | {{ error }}
                  input.form-control type="text" name="title" ng-model="goal.title"

            .form-group
              .row
                .col-sm-2.text-right
                  label.control-label
                    | Specialities:
                    span.star<
                      | *
                .col-sm-10 ng-class="validation_errors.specialities ? 'has-error' : ''"
                  .text-danger ng-repeat="error in validation_errors.specialities"
                    | {{ error }}
                  .row
                    .col-md-4 ng-repeat="speciality in goal.specialities"
                      .abc-checkbox.abc-checkbox-success
                        input.styled id="abc-{{ $index }}" type="checkbox" ng-model="speciality.selected"
                        label for="abc-{{ $index }}"
                          | {{ speciality.title }}
            .form-group
              .row
                .col-sm-4.col-sm-offset-2
                  button.ladda-button.btn.btn-info data-style="expand-left" ladda="formPending"
                    | {{ I18n.t('actions.submit') }}